body {
  font-family: 'Arimo', sans-serif;
}

form, h1 {
  text-align: center;

}

.header {
  margin-top: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../../img/ppl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#pic img {
  height: 200px;
  width: 200px;
  margin: 30px;
}

#userInfo {
}
